<!-- begin videos -->
<section class="section videos animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__inner">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ site.data.settings.videos__settings.videos__title }}</h2>
              <a class="section__link" href="{{ '/certs' | relative_url }}">Mais certificações e diplomas<i class="ion ion-md-arrow-forward"></i></a>
            </div>
            {% if site.data.settings.videos__settings.videos__description %}
              <p class="section__description">{{ site.data.settings.videos__settings.videos__description }}</p>
            {% endif %}
          </div>

          <div class="row">
            {% if site.posts.size > 0 %}
              {% for post in site.tags.['cert'] offset:0 limit:7 %}              
              <div class="article col col-4 col-d-6 col-t-12">
                <div class="article__inner">

                  <div class="article__head">

                    {% if post.image %}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="article__image" aria-hidden="true" tabindex="-1">
                      <img class="lazy" data-src="{{site.baseurl}}{{post.image_square}}" alt="{{post.title}}">
                    </a>
                    {% endif %}

                  </div>

                  <div class="article__content">

                    <h2 class="article__title">
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>

                    <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 160 }}{% endif %}</p>

                    <div class="article__meta">
                      <div class="article__meta__bottom">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            {% endfor %}
            {% endif %}
          </div>

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Experiências</h2>
              <a class="section__link" href="{{ '/certs' | relative_url }}">Mais experiências<i class="ion ion-md-arrow-forward"></i></a>
            </div>
            {% if site.data.settings.videos__settings.videos__description %}
              <p class="section__description">{{ site.data.settings.videos__settings.videos__description }}</p>
            {% endif %}
          </div>

          <div class="row">
            {% if site.posts.size > 0 %}
              {% for post in site.tags['xp'] offset:0 limit:7 %}              
              <div class="article col col-4 col-d-6 col-t-12">
                <div class="article__inner">

                  <div class="article__head">

                    {% if post.image %}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="article__image" aria-hidden="true" tabindex="-1">
                      <img class="lazy" data-src="{{site.baseurl}}{{post.image_square}}" alt="{{post.title}}">
                    </a>
                    {% endif %}

                  </div>

                  <div class="article__content">

                    <h2 class="article__title">
                      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </h2>

                    <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 160 }}{% endif %}</p>

                    <div class="article__meta">
                      <div class="article__meta__bottom">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end videos -->
